# gradle

.gradle/
build/
out/
classes/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

# fabric

run/

# java

hs_err_*.log
replay_*.log
*.hprof
*.jfr
/.gitattributes
/.architectury-transformer/

/common/.architectury-transformer/
/common/.gradle/
/common/build/

/neoforge/.gradle/
/neoforge/run/
/neoforge/build/

/fabric/build/
/fabric/.gradle/
/fabric/run/

/src/
/run/