#1.20.3
public net.minecraft.world.level.BaseSpawner
public net.minecraft.world.level.BaseSpawner getOrCreateNextSpawnData(Lnet/minecraft/world/level/Level;Lnet/minecraft/util/RandomSource;Lnet/minecraft/core/BlockPos;)Lnet/minecraft/world/level/SpawnData;
public net.minecraft.world.level.BaseSpawner minSpawnDelay
public net.minecraft.world.level.BaseSpawner maxSpawnDelay
public net.minecraft.world.level.BaseSpawner spawnDelay
public net.minecraft.world.level.BaseSpawner spawnCount
public net.minecraft.world.level.BaseSpawner maxNearbyEntities
public net.minecraft.world.level.BaseSpawner requiredPlayerRange
public net.minecraft.world.level.BaseSpawner spawnRange
public net.minecraft.world.level.BaseSpawner nextSpawnData
public net.minecraft.world.level.BaseSpawner spawnPotentials
#public net.minecraft.world.level.BaseSpawner lastRotation
#public net.minecraft.world.level.BaseSpawner rotation
public net.minecraft.world.level.BaseSpawner isNearPlayer(Lnet/minecraft/world/level/Level;Lnet/minecraft/core/BlockPos;)Z
#public net.minecraft.world.level.BaseSpawner renderedEntity
public net.minecraft.world.level.BaseSpawner delay(Lnet/minecraft/world/level/Level;Lnet/minecraft/core/BlockPos;)V

public net.minecraft.world.level.block.MultifaceBlock getDefaultMultifaceState(Lnet/minecraft/world/level/block/state/StateDefinition;)Lnet/minecraft/world/level/block/state/BlockState;

public net.minecraft.client.gui.Gui$HeartType

public net.minecraft.client.renderer.ItemInHandRenderer$HandRenderSelection

public net.minecraft.world.level.block.ComposterBlock add(FLnet/minecraft/world/level/ItemLike;)V

public net.minecraft.client.renderer.LevelRenderer renderBuffers

public net.minecraft.world.entity.projectile.AbstractArrow setPierceLevel(B)V

public net.minecraft.advancements.CriteriaTriggers register(Ljava/lang/String;Lnet/minecraft/advancements/CriterionTrigger;)Lnet/minecraft/advancements/CriterionTrigger;